body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF3F3; /*f8f8f8*/
}

header {
    background-color: #F8C8DC; /*#ff704*/
    color: #4A4A4A;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #6B4F4F;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #D88A9B; /*ffccbc*/ 
    margin: 0;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF; /*333*/
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    color: #6B4F4F; /*white*/ 
    background-color: #F8C8DC; /*ff7043*/ 
    border-radius: 5px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #D88A9B;
    border-bottom: 2px solid #D88A9B;
    padding-bottom: 5px;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}

ul li a {
    text-decoration: none;
    color: #6B4F4F;
}

ul li a:hover {
    text-decoration: underline;
}

.receta {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(216,138,155,0.4);
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.receta:hover {
    transform: scale(1.03);
}

.receta h3 {
    margin: 0;
    color: #D88A9B;
}

.receta p {
    margin-top: 5px;
    color: #4A4A4A;
}

/* Estilos para el modal */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    padding: 0.2em;
    border-radius: 3px;
}

.custom-list {
    list-style-type: none;
    padding-left: 1em;
    color: #4A4A4A;
}

.custom-list li::before {
    content: "- ";
}

.custom-p-bold {
    font-weight: bold;
    color: #4A4A4A;
}

.custom-list-order {
    color: #4A4A4A;
}

.custom-list-order li ul {
    list-style-type: disc;
    padding-left: 1.2em;
    padding-bottom: 0.3em;
}

.custom-list-order li ul li {
    list-style-type: disc;
    padding-top: 0.3em;
    padding-left: 0.2em;
}

/* Responsivo para móviles */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    main {
        padding: 10px;
    }

    .receta {
        padding: 10px;
    }

    #modal img {
        max-width: 90%;
        max-height: 90%;
    }
}